* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #009688 20%, #DADBD4 0);
}

.container {
  margin: 20px auto;
  height: calc(100vh - 40px);
  width: 80%;
  min-width: 800px;
}

/* Parte sinistra */
#left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  height: 100%;
  width: 35%;
  background-color: lightblue;
}

#left-box .left-header {
  height: 70px;
  background-color: #EAEAEA;
}

#left-box .disclaimer {
  height: 80px;
  background-color: #8EDAFC;
}

#left-box .search {
  padding: 7px;
  height: 50px;
  background-color: #FAFAFA;
}

#left-box .search input {
  height: 100%;
  width: 100%;
  outline-color: lightgrey;
  background-color: #FFFFFF;
  border: 2px solid #F7F7F7;
}

#left-box .contacts {
  height: calc(100% - 210px);
  min-height: 200px;
  flex-grow: 2;
  overflow-y: scroll;
  background-color: #FFFFFF;
}

#left-box .contacts .contact {
  height: 100px;
  border-bottom: 1px solid #F8F8F8;
}

/* Parte destra */
#right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  height: 100%;
  width: 65%;
}

#right-box .right-header {
  height: 70px;
  background-color: #EAEAEA;
  border-left: 1px solid #D8D8D8;
}

#right-box main.conversation {
  width: 100%;
  flex-grow: 2;
  overflow-y: scroll;
  background-color: grey;
}

#right-box footer.send-message {
  padding: 10px 20px;
  height: 70px;
  background-color: #F3EEEA;
}

#right-box footer.send-message input {
  height: 100%;
  width: 100%;
  outline-color: lightgrey;
  background-color: #FFFFFF;
  border: 2px solid #F7F7F7;
}
